<h1><%= @idea.title %></h1>
<p>Description: <%= @idea.description %></p>

  <%= link_to "Edit", edit_idea_path(@idea) %> 

  <%= link_to "Delete", idea_path(@idea), method: :delete, data: { confirm: 'Are you sure that you want to delete ?' } %>


  


